<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <!-- <meta charset="utf-8"> -->
        <title>Pi-circuit</title>
        <!-- <link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script> -->
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="{% url 'index' %}">Pi-circuit</a>
        </nav>

        <div class="container">
            <div class="jumbotron">
                <div class="text-center">
                    <img src="{% static "piCircuit.png" %}" class="rounded" width="700px">
                </div>
<!--
                <h1 class="display-3" align="center">Pi-circuit</h1>
-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <a class="btn btn-lg btn-success" href="{% url 'signup' %}" role="button"> Sign up today</a>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-primary btn-lg" href="{% url 'signin' %}" role="button"> Sign in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>¿Qué es?</h2>
                    <p>Pi-Circuit es un servidor de medición y manipulación remota de circuitos que permite al usuario, en conjunto con una Raspberry Pi, obtener remotamente mediciones en tiempo real de circuitos montados físicamente.</p>
                </div>
                <div class="col-md-4">
                    <h2>¿Cómo funciona?</h2>
                    <p>Sólo es necesario crear una cuenta en la página, acceder, seleccionar las entradas y salidas de interés que también deben estar conectadas al circuito de interés, y obtener cualquier resultado análogo o digital que sea necesario.</p>
                </div>
                <div class="col-md-4">
                    <h2>¿Qué tipo de resultados se obtienen?</h2>
                    <p>Es posible obtener resultados tanto análogos como digitales, además de generar señales digitales si así se requiere. También es posible revisar el caso ejemplo de un circuito de elementos pasivos para medir voltajes según la configuración del circuito.</p>
                </div>
            </div>
        </div>
    </body>
</html>
