<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pi-circuit</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
            $.ajax({
                url: "{% url 'userpage' %}",
                success: function(data)
                {
                    $('#time_left').html(data);
                }
            })
            setTimeout(refresh, 1000);
        </script>
    </head>
    <body>
        <p id="time_left"> Time Left: {{ left }}</p>
    </body>
</html>
